<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="netNamedPipeInfiniteBinding" receiveTimeout="Infinite" />
      </netNamedPipeBinding>
    </bindings>
    <client />
    <services>
      <service behaviorConfiguration="PlayCap.PlayCapBehavior"
        name="PlayCap.PlayCap">
        <endpoint address="net.pipe://localhost/PlayCap/PlayCap"
          binding="netNamedPipeBinding" bindingConfiguration="netNamedPipeInfiniteBinding"
          contract="PlayCap.IPlayCap">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9988/PlayCap/" />
          </baseAddresses>
        </host>
      </service>
    </services>
	  
    <behaviors>
      <serviceBehaviors>
        <behavior name="PlayCap.PlayCapBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
