<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MM.Databasae.Properties.Settings.MMConnectionString"
            connectionString="Data Source=vunguyen;Initial Catalog=MM;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="MM.Databasae.Properties.Settings.MMConnectionString1"
            connectionString="Data Source=USER-PC\SQLEXPRESS;Initial Catalog=MM;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="MM.Databasae.Properties.Settings.MMConnectionString2"
            connectionString="Data Source=VUNGUYENXP32;Initial Catalog=MM;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="MM.Databasae.Properties.Settings.MM_NewConnectionString"
            connectionString="Data Source=vunguyen732\vunguyen;Initial Catalog=MM_New;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="MM.Databasae.Properties.Settings.MMConnectionString3"
            connectionString="Data Source=vunguyen732\vunguyen;Initial Catalog=MM;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="MM.Databasae.Properties.Settings.MMConnectionString4"
            connectionString="Data Source=vunguyen732\vunguyen;Initial Catalog=MM;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="MM.Databasae.Properties.Settings.MMConnectionString5"
            connectionString="Data Source=localhost;Initial Catalog=MM;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="MM.Databasae.Properties.Settings.MMConnectionString6"
            connectionString="Data Source=VUNGUYENXP32;Initial Catalog=MM;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MM.Databasae.Properties.Settings.MMConnectionString7"
            connectionString="Data Source=localhost;Initial Catalog=MM;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MM.Databasae.Properties.Settings.MMConnectionString8"
            connectionString="Data Source=vunguyenxp32;Initial Catalog=MM;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MM.Databasae.Properties.Settings.MMConnectionString9"
            connectionString="Data Source=vunguyenxp32;Initial Catalog=MM;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>