<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MM.Databasae.Properties.Settings.MMConnectionString"
            connectionString="Data Source=vunguyen;Initial Catalog=MM;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>